<nav class="navbar navbar-light bg-light navbar-expand-sm" role="navigation">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'adminapp:index' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'admin_staff:users' %}"
                    class="{% if request.resolver_match.url_name == 'users' %}active{% endif %} nav-link">
                Пользователи</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'admin_staff:categories' %}"
                   class="{% if request.resolver_match.url_name == 'categories' %}active{% endif %} nav-link">Категории</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ordersapp:orders_list' %}"
                   class="{% if request.resolver_match.url_name == 'categories' %}active{% endif %} nav-link">Заказы</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">На сайт</a>
            </li>
        </ul>
    </div>
</nav>
<hr>
