* {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.content_wrapper {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.header_cap {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}

.img_cap {
	height: 100px;
}

.main_menu {
    margin: 8px;
}

.main_menu__links {
    text-decoration: none;
    color: #1959d1;
    margin: 8px;
}

.main_menu__links:hover {
    text-decoration: underline;
}

.films_category_menu {
	background-color: #1959d1;
	padding: 10px;
}

.films_category_menu_links__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.menu_links {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 20px;
}

.menu_links:hover {
    text-decoration: underline;
}

.additional_info {
	background-color: #1959d1;
	padding: 10px;
	widows: 100%;
}

.additional_info ul {	
	display: flex;
	justify-content: space-between;
}

.footer_contacts, .footer_contacts a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	list-style-type: none;	
}

.film_img {
    width: 150px;
}

.film_mini_card {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
}

.form_wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.form_login {

}

.btn_login {
    background-color: #1959d1;
    color: white;
    border: 0;
    padding: 8px;
    width: 150px;
}