{% extends 'adminapp/base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fa fa-table mr-1"></i>Пленки серии "{{ category.name }}"
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Картинка</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Цена за рулон</th>
                        <th>Цена за метр</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for film in objects %}
                    <tr>
                        <td>
                            <img src="/media/{{film.image}}" alt="" style="width: 100px;">
                        </td>
                        <td>
                            <a href="{#% url 'admin_staff:film_update' film.id %#}" style="color: dodgerblue">
                            {{ film.name }}
                            </a>
                        </td>
                        <td>{{ film.short_desc }}</td>
                        <td>{{ film.price_roll }} р.</td>
                        <td>{{ film.price_meter }} р.</td>
                        <td class="text-center">
                            <a href="{#% url 'admin_staff:film_delete' %#}">
                                <button class="btn btn-outline-danger"><i class="bi bi-x-square"></i> Удалить</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="{#% url 'admin_staff:film_create' category.pk %#}">
                <button class="btn btn-primary">Добавить пленку</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}